# .eslintignore patterns behave the same way as .gitignore patterns
# Source: https://eslint.org/docs/user-guide/configuring/ignoring-code

# Ignore all .js files
*.js
# Exept in this folder
!src/ts.basics/declaration.files/*
